{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/backoffice.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.css'%}">

</head>
<style>
    body {
        background: url("{% static 'img/BackOffice.png'%}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
    }

    td {
        color: #ccc;
    }

    h2 {
        color: #ccc;
    }
</style>

<body>
    <div class="wrapper">
        <div class="container">
            <h2>Liste des Problèmes</h2>
            <table id="ticket-table">
                <thead>
                    <tr>
                        <th>Numéro de Ticket</th>
                        <th>Sujet</th>
                        <th>État</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for problem in problems %}
                    <tr>
                        <td>{{ problem.id }}</td>
                        <td>{{ problem.subject }}</td>
                        <td>{{ problem.etat }}</td>
                        <td class="btn-click td">
                            <form action="{% url 'feedback' problem.id %}" method="post">
                                {% csrf_token %}
                                {% if problem.etat == "En attente" %}
                                <button type="submit">Envoyer Feedback</button>
                                {% endif %}
                            </form>
                            <form action="{% url 'cloturer' problem.id %}" method="post">
                                {% if problem.etat == "En cours" %}
                                {% csrf_token %}
                                <button type="submit">Cloturer</button>
                                {% else %}
                                <button type="submit" disabled>Cloturer</button>
                                <a href="{% url 'delete_problem' problem.id  %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button id="prev-btn" class="prev" onclick="prevPage()">Précédent</button>
            <button id="next-btn" class="next" onclick="nextPage()">Suivant</button>


            <div class="eisenhower-matrix">
                <div class="quadrant urgent-important">
                    <h2>Urgent et Important</h2>
                    <table id="ticket-table-urgent-important">
                        <tbody>
                            {% for problem in problems %}
                            {% if problem.importance > 6 %}
                            <tr>
                                <td>{{ problem.id }}</td>
                                <td>{{ problem.subject }}</td>
                                <td>{{ problem.etat }}</td>
                                <td class="btn-click">
                                    <a href="{% url 'viewinfo' problem.id %}"><button>Voir</button></a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="quadrant important-not-urgent">
                    <h2>Important mais Pas Urgent</h2>
                    <table id="ticket-table-important-not-urgent">
                        <tbody>
                            {% for problem in problems %}
                            {% if 4 < problem.importance and problem.importance <= 6 %} <tr>
                                <td>{{ problem.id }}</td>
                                <td>{{ problem.subject }}</td>
                                <td>{{ problem.etat }}</td>
                                <td class="btn-click">
                                    <a href="{% url 'viewinfo' problem.id %}"><button>Voir</button></a>
                                </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="quadrant urgent-not-important">
                    <h2>Urgent mais Pas Important</h2>
                    <table id="ticket-table-urgent-not-important">
                        <tbody>
                            {% for problem in problems %}
                            {% if 2 < problem.importance and problem.importance <= 4 %} <tr>
                                <td>{{ problem.id }}</td>
                                <td>{{ problem.subject }}</td>
                                <td>{{ problem.etat }}</td>
                                <td class="btn-click">
                                    <a href="{% url 'viewinfo' problem.id %}"><button>Voir</button></a>
                                </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="quadrant not-urgent-not-important">
                    <h2>Pas Urgent et Pas Important</h2>
                    <table id="ticket-table-not-urgent-not-important">
                        <tbody>
                            {% for problem in problems %}
                            {% if problem.importance <= 2 %} <tr>
                                <td>{{ problem.id }}</td>
                                <td>{{ problem.subject }}</td>
                                <td>{{ problem.etat }}</td>
                                <td class="btn-click">
                                    <a href="{% url 'viewinfo' problem.id %}"><button>Voir</button></a>
                                </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal pour Clôturer -->
        <div id="close-ticket-confirmation-modal" class="modal">
            <div class="modal-content">
                <h2>Clôturer le Ticket</h2>
                <p>Êtes-vous sûr de vouloir clôturer ce ticket ? Cette action est irréversible.</p>
                <button onclick="confirmCloseTicket()">Confirmer</button>
                <button onclick="closeModal('close-ticket-confirmation-modal')">Annuler</button>
            </div>
        </div>

    </div>
</body>

<script src="{% static 'js/backoffice.js'%}"></script>

</html>