{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
</head>

<body>
    <div class="wrapper">
        <!---------------------------Navigation---------------------------------->

        <div class="container">
            <h2>Liste des Problemes</h2>
            <table id="ticket-table">
                <thead>
                    <tr>
                        <th>Numéro de Ticket</th>
                        <th>Sujet</th>
                        <th>État</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for problem in problems %}

                    <tr>
                        <td>{{ problem.id }}</td>
                        <td>{{ problem.subject }}</td>
                        <td>En attente</td>
                        <td class="btn-click">
                            <button onclick="openModal('assign-priority-modal')">Assigner Priorité</button>
                            <button onclick="openModal('send-feedback-modal')">Envoyer Feedback</button>
                            <button onclick="openModal('close-ticket-confirmation-modal')">Cloturer</button>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <button id="prev-btn" class="prev" onclick="prevPage()">Précédent</button>
            <button id="next-btn" class="next" onclick="nextPage()">Suivant</button>

            <div class="eisenhower-matrix">
                <div class="quadrant urgent-important">
                    <h2>Urgent et Important</h2>
                    <ul class="tasks">
                        <li><span>Tâche 1:</span> Description de la tâche</li>
                        <li><span>Tâche 2:</span> Description de la tâche</li>
                    </ul>
                </div>
                <div class="quadrant important-not-urgent">
                    <h2>Important mais Pas Urgent</h2>
                    <ul class="tasks">
                        <li><span>Tâche 3:</span> Description de la tâche</li>
                        <li><span>Tâche 4:</span> Description de la tâche</li>
                    </ul>
                </div>
                <div class="quadrant urgent-not-important">
                    <h2>Urgent mais Pas Important</h2>
                    <ul class="tasks">
                        <li><span>Tâche 5:</span> Description de la tâche</li>
                    </ul>
                </div>
                <div class="quadrant not-urgent-not-important">
                    <h2>Pas Urgent et Pas Important</h2>
                    <ul class="tasks">
                        <li><span>Tâche 6:</span> Description de la tâche</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Modale pour Assigner Priorité -->
        <div id="assign-priority-modal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('assign-priority-modal')">&times;</span>
                <h2>Assigner Priorité</h2>
                <form id="priority-form">
                    <label for="priority-select">Priorité :</label>
                    <select id="priority-select" name="priority">
                        <option value="urgent-important">Urgent et Important</option>
                        <option value="important-not-urgent">Important mais Pas Urgent</option>
                        <option value="urgent-not-important">Urgent mais Pas Important</option>
                        <option value="not-urgent-not-important">Pas Urgent et Pas Important</option>
                    </select><br>
                    <input type="submit" value="Enregistrer">
                </form>
            </div>
        </div>

        <!-- Modale pour Envoyer Feedback -->
        <div id="send-feedback-modal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('send-feedback-modal')">&times;</span>
                <h2>Envoyer Feedback</h2>
                <form id="feedback-form">
                    <label for="feedback-textarea">Feedback :</label>
                    <textarea id="feedback-textarea" name="feedback" rows="4" style="width: 233px; height: 126px;"
                        required></textarea><br>
                    <label for="resolution-date-input">Date Probable de Résolution :</label>
                    <input type="text" id="resolution-date-input" name="resolution-date" required><br>
                    <input type="submit" value="Envoyer">
                </form>
            </div>
        </div>

        <!-- Modale pour Clôturer -->
        <div id="close-ticket-confirmation-modal" class="modal">
            <div class="modal-content">
                <h2>Clôturer le Ticket</h2>
                <p>Êtes-vous sûr de vouloir clôturer ce ticket ? Cette action est irréversible.</p>
                <button onclick="confirmCloseTicket()">Confirmer</button>
                <button onclick="closeModal('close-ticket-confirmation-modal')">Annuler</button>
            </div>
        </div>

    </div>
</body>

<script src="{% static 'js/backoffice.js'%}"></script>

</html>