{% load static %}
<!doctype html>
<html lang="fr">

<head>
    {% include 'head.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">

</head>

<body>
    <div class="wrapper">
        <!---------------------------Navigation---------------------------------->
        {% include 'nav.html' %}
        <!---------------------------Contact---------------------------------->
        <main>
            <h3>
                <small class="text-muted">N'hésitez pas</small><br>
                Contacter nous directement !
            </h3>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Adresse email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <button class="btn btn-primary" type="submit">Envoyer</button>

            </div>

            <main>
                <section class="contact-container">
                    <div class="contact-form">
                        <h2>Tous ce qu'il faut savoir sur l'entreprise </h2>
                        <p>Bonjour le monde </p>
                    </div>
                    <div class="contact-info">
                        <h2>Détails sur le contact </h2>
                        <ul>
                            <li><span class="fa fa-map-marker"></span> Notre adresse </li>
                            <li><span class="fa fa-phone"></span> +123-456-7890</li>
                            <li><span class="fa fa-envelope"></span>scorpion@gmail.com</li>
                        </ul>
                    </div>
                </section>
            </main>

        </main>
    </div>
</body>

</html>