<!---------------------------Navigation---------------------------------->
{% load static %}
<style>
    #admin_icon {
        color: #FFF;
        margin: 10px;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    #admin_icon:hover {
        color: gray;
        cursor: pointer;
    }
</style>
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.css'%}">
<nav class="nav">
    <div class="nav-logo">
        <p><span>S</span>coo<span class="chat">r</span>pion</p>
    </div>
    {% if user.is_authenticated %}
    <div class="nav-menu" id="navMenu">
        <ul>
            <li><a href="{% url 'index' %}" class="link active">Accueil</a></li>
            <li><a href="{% url 'messagerie' %}" class="link">Messagerie</a></li>
        </ul>
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="nav-button">
        <a href="{% url 'logout' %}">
            <button class="btn" id="deconnexion" onclick="register()">Deconnexion</button>
        </a>
    </div>
    {% else %}
    <div class="nav-button">
        <button class="btn white-btn" id="loginBtn" onclick="login()">Se connecter</button>
        <button class="btn" id="registerBtn" onclick="register()">S'inscrire</button>

        <a href="{% url 'adminLogin' %}"><i class="fa fa-user" id="admin_icon"></i></a>
    </div>
    {% endif %}
    <div class="nav-menu-btn">
        <i class="bx bx-menu" onclick="myMenuFunction()"></i>
    </div>
</nav>